<script src="~/js/crudoperation/detail.js"></script>

<h5>Add New Record - </h5>
<hr />

<div class="col-6">
    <div class="form-group">
        <input type="hidden" id="hdnCrudId" value="0" />
        <label class="col-md-3 col-xs-3 control-label" for="txtUserName">UserName</label>
        <div class="col-md-7 col-xs-7">
            <input type="text" class="form-control" id="txtUserName" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <label class="col-md-3 col-xs-3 control-label" for="txtAge">Age</label>
        <div class="col-md-7 col-xs-7">
            <input type="text" class="form-control" id="txtAge" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="spacer5">
            <div class="col-md-12 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item centerAlign">
                        <button id="btnSave" class="btn btn-success" type="button">Save</button>
                        <button id="btnClose" class="btn btn-danger" type="button">Close</button>
                        <button id="btnClear" class="btn btn-primary" type="button">Clear</button>
                        <button id="btnDelete" class="btn btn-danger" type="button">Delete</button>
                    </li>
                </ul>

            </div>

        </div>
    </div>


</div>