<script src="~/js/crudoperation/summary.js"></script>

<div class="row">
    <div class="col-12">
        All Records - 
    </div>
    <hr />
    <br />
    <div class="col-md-12">
        <button class="btn btn-success" id="btnAdd">Add Record</button>
        <br />
        <table class="table table-stripped" id="Table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>